body {
    background-image: url(../Images/crystal-background-image.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
    opacity: .85;
    padding: 10px;
    margin: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.jumbotron {
    background-color: darkturquoise;
    text-decoration-color: red;
    -webkit-text-decoration-color: red;  /*Safari*/
    /* padding: 10px;
    margin: 5px; */
}

.main-header {
    font-family: -apple-system-headline;
    border: 2px solid aquamarine;
    /* padding: 15px; */
    font-size: 30px;
    text-align: center;

    /* animation of header
    animation-delay: 2ms;
    animation: mymove 7s;
    @keyframes mymove {
        from {left: 0px;}
        to {left: center;}
    } */
}


.lead {
    padding: 7px;
    text-align: left;
}

.lead-6 {
    padding: 10px;
    font-size: 20px;
    text-indent: 5px;
}

.row {
    display: inline-flex;
}

#wild1 {
    padding: 5px;
    text-align: center;
}

.row1 {
    background-color: aquamarine;
    align-content: space-around;
    font-size: 35px;
    border: 2px royalblue;
    padding: 15px;
}

.targetScore {
    font-size: 50px;
    margin: 10px;
    text-align: center;
}

#wild {
    padding: 5px;
    text-align: center;
    margin: 10px;
}

.crystal {
    /* flex-direction: row; */
    /* justify-content: left; */
    margin: auto;
    padding: 20px;
}

.your {
    padding: 15px;
    font-size: 35px;
    margin-top: 15px;
    background-color: royalblue;
    float: inherit;
}


